body {
    background-color: #262626 !important;
}

/* Estilo para el preload */
.preload {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #262626;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 1;
	transition: opacity 0.5s ease;
}

.preload.loaded {
	opacity: 0;
	pointer-events: none;
}

.loading-text {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5em;
	color: #c1a263;
	margin-bottom: 20px;
}

.loading-text-words {
	display: inline-block;
	opacity: 0;
	animation: fadeIn 0.5s ease forwards;
}

.loading-text-words:nth-child(2) {
	animation-delay: 0.5s;
}

.loading-text-words:nth-child(3) {
	animation-delay: 1s;
}

.loading-dots {
	display: flex;
	align-items: center;
}

.loading-dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #c1a263;
	margin: 0 5px;
	opacity: 0;
	animation: fadeIn 0.5s ease forwards;
}

.loading-dot:nth-child(2) {
	animation-delay: 0.5s;
}

.loading-dot:nth-child(3) {
	animation-delay: 1s;
}

.loading-dot:nth-child(4) {
	animation-delay: 1.5s;
}

.loading-dot:nth-child(5) {
	animation-delay: 2s;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}



nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #c1a263;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

#seccion1, #seccion2, #seccion3 {
    padding: 50px;
    text-align: center;
    height: 500px;
}

section {
    width: 100%;
    max-width: 800px; /* Establece un ancho máximo para las secciones */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

img {
    max-width: 100%; /* Establece un ancho máximo para las imágenes */
    height: auto; /* Ajusta la altura de las imágenes automáticamente */
    display: block; /* Elimina el espacio en blanco debajo de las imágenes */
    margin: 0 auto;
}
h2 {
    color: #c1a263;
    font-weight: bold;
}

hr {
    border: none;
  border-top: 3px solid #c1a263;
  width: 50%;
  margin: 20px auto;
  box-shadow: 0px 2px 2px #c1a263;
}